<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceMD5" />
                <binding name="BasicHttpBinding_IAdminService" />
                <binding name="BasicHttpBinding_IService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52590/ServiceMD5.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServiceMD5" contract="ServiceReferenceMD5.IServiceMD5"
                name="BasicHttpBinding_IServiceMD5" />
            <endpoint address="http://localhost:60867/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAdminService" contract="AdminServiceReference.IAdminService"
                name="BasicHttpBinding_IAdminService" />
            <endpoint address="http://localhost:52143/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService" contract="GameServiceReference.IService"
                name="BasicHttpBinding_IService" />
        </client>
    </system.serviceModel>
</configuration>